import * as React from 'react'

// import {} from '@hooks/'
// import {} from '@interfaces/'
// import {} from '@utils/'

interface Props {}

export const {{ properCase componentName }}: React.FC<Props> = ({ children }) => {
  return (
    <div>
      {children}
    </div>
  )
}