@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  scroll-behavior: smooth;
}

@layer components {
  .divider {
    @apply my-8;
  }
  .draft-banner {
    @apply border-2 flex flex-col font-bold items-center justify-center mb-16 py-4 rounded-lg text-4xl;
  }
  .pagination-button {
    @apply border border-transparent px-8 py-2 rounded-lg shadow-md text-xl;
  }
  .project-card {
    @apply border flex flex-col p-4 rounded-lg shadow-md;

    :first-child {
      @apply flex items-center justify-between;

      div {
        @apply flex items-center space-x-2;
      }

      svg {
        @apply h-5 w-5;
      }
    }

    a > h2 {
      @apply text-lg uppercase hover:underline;
    }

    p {
    }
  }
  .social-button {
    @apply bg-transparent duration-100 ease-in-out rounded-full transition-all hover:p-2;
    a > svg {
      @apply h-8 w-8;
    }
  }
}

@layer utilities {
  .night-owl-theme {
    background-color: rgb(1, 22, 39, 1);
    color: rgb(214, 222, 235, 1);
  }
}

.prose {
  a {
    @apply font-normal hover:no-underline;
    > code {
      @apply font-normal italic hover:no-underline;
      &::after,
      &::before {
        content: none;
      }
    }
    > img {
      // Keeps images from about.tsx from being rounded.
      @apply rounded-none;
    }
  }

  blockquote {
    @apply border border-transparent font-light italic rounded-md shadow-lg;
    > p {
      @apply my-2;
      a {
      }
      code {
        @apply bg-transparent p-0 rounded-none;
        &::after,
        &::before {
          content: none;
        }
      }
      strong {
      }
    }
  }

  code {
    @apply font-normal italic px-2 py-1 rounded-full;
    &::after,
    &::before {
      content: none;
    }
  }

  del {
    @apply font-semibold;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-semibold;
  }

  h1,
  h2,
  h3 {
  }

  h4,
  h5 {
  }

  h6 {
    @apply font-mono text-2xl;
  }

  hr {
    @apply my-8;
  }

  img {
    @apply flex items-center justify-center max-w-full mx-auto rounded-lg;
  }

  strong {
    @apply font-semibold;
  }

  ol > li::before {
  }

  ul > li::before {
  }

  .contains-task-list {
    @apply list-none;
    .task-list-item {
      &::before {
        content: none; // removes the dot
      }
      *:first-child,
      *:last-child {
        @apply my-0.5;
      }
      @apply pl-0;
    }
  }

  // Fix style issue with <Tweet /> from mdx-embed.
  .mdx-embed {
    .twitter-tweet-mdx-embed {
      .twitter-tweet {
        iframe {
          @apply bg-transparent rounded-2xl;
        }
      }
    }
  }

  .rehype-code-title:defined {
    @apply border-b leading-7 night-owl-theme px-6 py-4 rounded-tl-lg rounded-tr-lg;
  }

  .rehype-code-title + pre {
    @apply mt-0 rounded-bl-lg rounded-br-lg rounded-tl-none rounded-tr-none;
  }
}
