@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100vh;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#__next {
}

@layer components {
  .divider {
    @apply border-blueGray-400 my-8;
  }
  .draft-banner {
    @apply border-2 danger-theme flex flex-col font-bold items-center justify-center mb-16 py-4 rounded-lg text-4xl;
  }
  .open-to-work-banner {
    @apply absolute bg-accent flex h-14 items-center justify-center left-0 p-4 top-0 w-screen z-10;
    h1 {
      @apply font-medium text-lg text-white dark:text-black lg:text-2xl;
    }
  }
  .pagination-button {
    @apply bg-accent border border-transparent px-8 py-2 rounded-lg shadow-md text-teal-200 dark:text-fuchsia-800 text-xl;
  }
  .social-button {
    @apply bg-transparent duration-100 ease-in-out rounded-full text-accent transition-all hover:p-2 hover:text-white;
    a > svg {
      @apply h-8 w-8;
    }
  }
  .theme-toggle {
    @apply bg-accent border-0 cursor-pointer duration-300 ease-in-out flex h-14 items-center justify-center mr-2 outline-none rounded-full top-0 transform-gpu transition w-14 z-20 focus:outline-none hover:scale-110;
    > svg {
      @apply h-7 text-teal-200 dark:text-fuchsia-900 w-7;
    }
  }
}

@layer utilities {
  .bg-accent {
    @apply bg-fuchsia-900 dark:bg-teal-200;
  }
  .bg-primary {
    @apply bg-blueGray-200 dark:bg-coolGray-800;
  }
  .bg-secondary {
    @apply bg-coolGray-400 dark:bg-blueGray-200;
  }
  .text-accent {
    @apply text-fuchsia-900 dark:text-teal-200;
  }
  .text-primary {
    @apply text-black dark:text-white;
  }
  .text-secondary {
    @apply text-coolGray-700 dark:text-coolGray-300;
  }
  // One-Offs
  .danger-theme {
    @apply bg-red-200 text-red-500 dark:bg-red-500 dark:text-red-200;
  }
  .night-owl-theme {
    background-color: rgb(1, 22, 39, 1);
    color: rgb(214, 222, 235, 1);
  }
}

.prose {
  @apply text-coolGray-900 dark:text-coolGray-100;
  a {
    @apply font-normal hover:text-fuchsia-600 hover:no-underline dark:text-teal-400 dark:hover:text-fuchsia-400;
    > code {
      @apply font-normal italic hover:text-fuchsia-600 hover:no-underline dark:text-teal-400 dark:hover:text-fuchsia-400;
      &::after,
      &::before {
        content: none;
      }
    }
    > img {
      // Keeps images from about.tsx from being rounded.
      @apply rounded-none;
    }
  }

  blockquote {
    @apply bg-blue-200 border border-transparent font-light italic rounded-md shadow-lg dark:bg-fuchsia-700;
    > p {
      @apply my-2;
      > code {
        @apply bg-transparent p-0 rounded-none;
        &::after,
        &::before {
          content: none;
        }
      }
    }
  }

  code {
    @apply bg-blueGray-300 font-normal italic px-2 py-1 rounded-full dark:bg-blueGray-500;
    &::after,
    &::before {
      content: none;
    }
  }

  del {
    @apply font-semibold text-red-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-semibold;
  }

  h1,
  h2,
  h3 {
    @apply text-accent;
  }

  h4 {
    @apply text-teal-600 dark:text-fuchsia-400;
  }

  h6 {
    @apply font-mono text-indigo-600 text-2xl dark:text-indigo-400;
  }

  hr {
    @apply border-blueGray-400 my-8;
  }

  img {
    @apply flex items-center justify-center max-w-full mx-auto rounded-lg;
  }

  strong {
    @apply font-semibold;
  }

  .contains-task-list {
    @apply list-none;
    .task-list-item {
      &::before {
        content: none; // removes the dot
      }
      *:first-child,
      *:last-child {
        @apply my-0.5;
      }
      @apply pl-0;
    }
  }

  .rehype-code-title:defined {
    @apply border-b border-blueGray-300 leading-7 night-owl-theme px-6 py-4 rounded-tl-lg rounded-tr-lg;
  }

  .rehype-code-title + pre {
    @apply mt-0 rounded-bl-lg rounded-br-lg rounded-tl-none rounded-tr-none;
  }
}
